<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blake Green - Resume</title>

  <!-- Bootstrap core CSS -->
  <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="./static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./static/css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Blake Green</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="./static/img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Certifications</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Blake
          <span class="text-primary">Green</span>
        </h1>
        <div class="subheading mb-5">Sacramento, CA · (916) 246-2670 ·
          <a href="mailto:blakegreen@msn.com">blakegreen@msn.com</a>
        </div>
        <p class="lead mb-5">I am a highly motivated, results-driven professional who loves to experiment and learn new things related to cloud technologies. I have proven success in managing, architecting, and implementing highly available, secure, and complex cloud solutions. </p>
        <div class="social-icons">
          <a href="https://greengocloud.com">
            <i class="fas fa-cloud"></i>
          </a>
          <a href="https://twitter.com/TSgt_Green">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/in/blakegreen2/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/bgreengo">
            <i class="fab fa-github"></i>
          </a>

        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Cloud Architect</h3>
            <div class="subheading mb-3">Infiniti Consulting Group</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right"></i>
                Lead Cloud Architect for California Department of Technology Security Operations Center. Designed and automated highly available and secure cloud environment to host Splunk cluster. 
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                Architected and implemented a CI/CD solution for the Post Electronic Standards Council (PESC) and the EDEXCHANGE application which included Github, Jenkins, Docker Hub and Rancher as well as migrated DNS to AWS Route 53. EDEXCHANGE will allow students to securely exchange transcripts when they transfer to another school.
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                Built a serverless architecture using AWS S3 static website, CloudFront, CodeBuild, Certificate Manger, and Route 53 with source control management in Github
              </li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Client Systems Technician</h3>
            <div class="subheading mb-3">United States Air Force - Reserves</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right"></i>
                Promoted to Technical Sergeant in charge of 940th Air Refueling Wing Communications Focal Point at Beale Air Force Base, California. 
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                As a Technical Sergeant, I have supervised and provided leadership to several airmen in the flight as well as a subject matter expert in the event of internal escalations.
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                The 940th Air Refueling Wing consists of approximately 2k users and computers in which the Communications Focal Point is responsible for at Beale. 
              </li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2013 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Network Engineer</h3>
            <div class="subheading mb-3">Infiniti Consulting Group</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right"></i>
                Lead Engineer for several managed service contracts which included network administration, security, sever administration, and desktop support for small and midsize businesses.
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                Upgraded network infrastructure for California Exposition in support of the California State Fair which included over 100 Brocade ICX switches and site-wide Aruba wireless that spanned over 300 acres with more than 200 access points.
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                Traveled to over 50 Pacific Coast Supply sites across the US to perform network infrastructure upgrades to Cisco firewalls, Cisco routers, Brocade ICX switches, and Ubiquity wireless access points.
              </li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2014 - September 2016</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Client Systems Technician</h3>
            <div class="subheading mb-3">United States Air Force - Active Duty</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fas fa-chevron-right"></i>
                Lead contracting officer representative for managing a $16 million dollar Base Telecommunications Services contract at Beale Air Force Base. Performed quality assurance checks for contracting companies on behalf of military operations.
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                Project manager for five government building renovations estimating at $2 million dollars in upgraded communications infrastructure. 
              </li>
              <br>
              <li>
                <i class="fas fa-chevron-right"></i>
                Honorably discharged after 6 successful years in active duty Air Force with over 20 awards and decorations.
              </li>
            </ul>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2007 - October 2013</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">University of Maryland</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science (In Progress)</div>
            <p>GPA: 3.47</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2017 - Present</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-aws"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-microsoft"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-docker"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-react"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Expertise in: </div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Cloud Architecture</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cloud Automation</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cloud Security</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a Cloud Architect, I enjoy most of my time being outdoors. My wife and I like to travel and we've been fortunate enough to go to some really amazing places. I had to create an app <a href="https://maps.greengocloud.com">(https://maps.greengocloud.com)</a> in order to keep track of all the places we've been. We also like to explore our local area and find hikes to take our dog, Blue. Other than that, I enjoy playing golf. While my handicap might say otherwise, there is that one shot every round that makes me come back for more. </p>
        <p class="mb-0">When forced indoors, I will usually try and catch whatever sporting event is on TV. I'm a huge San Francisco 49ers, Sacramento Kings, and San Francisco Giants fan. I also spend a large amount of my free time exploring the latest technology advancements in the world of cloud. I enjoy little side projects to keep growing my skills and experience.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            AWS Certified Solutions Architect – Professional</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            AWS Certified DevOps Engineer - Professional</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            AWS Certified Advanced Networking - Specialty</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            AWS Certified Solutions Architect – Associate</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            AWS Certified SysOps Administrator – Associate</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            AWS Certified Developer – Associate</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Microsoft 70-533 – Implementing Microsoft Azure Infrastructure Solutions</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            CompTIA Security+</li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="./static/vendor/jquery/jquery.min.js"></script>
  <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="./static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="./static/js/resume.min.js"></script>

</body>

</html>
